/* Define hover effect for Block1 */
#Block1:hover {
    fill: #415A77; /* Color change on hover */
}

/* Define initial color for Block2 */
#Block2 {
    fill: #1B263B; /* Initial color */
}

/* Define hover effect for Block2 */
#Block2:hover {
    fill: #D9D9D9; 
}
/* Define hover effect for Block3 */
#Block3:hover {
    fill: #415A77; /* Color change on hover */
}


/* eyes moving */
@keyframes eyeAnimation {
    0%, 100% { transform: translateX(0); } /* Initial position */
    50% { transform: translateX(-5px); } /* Look left */
    100% { transform: translateX(5px); } /* Look right */
}

/* Apply the animation to both eyes */
#blackeyeleft, #blackrighteye {
    animation: eyeAnimation 4s ease-in-out infinite alternate; 
}

/* Define keyframes for the color animation */
@keyframes colorChange {
    0% { fill: #373333; } 
    50% { fill: #999999; } 
    100% { fill: #201f21; } 
}

/* circle on moon face changes color */
#Ellipse9, #Ellipse10, #Ellipse11 {
    animation: colorChange 3s ease-in-out infinite; 
}

/* Define keyframes for the floating animation */
@keyframes floatingAnimation {
    0% { transform: translateY(-5px); } /* Move up slightly */
    50% { transform: translateY(5px); } /* Move down slightly */
    100% { transform: translateY(-5px); } /* Move up slightly */
}

/* Apply the animation to the path */
#path4 {
    animation: floatingAnimation 6s ease-in-out infinite; 
}

/* Define keyframes for the floating animation */
@keyframes floatingAnimation2 {
    0% { transform: translateY(-5px); } /* Move up slightly */
    50% { transform: translateY(5px); } /* Move down slightly */
    100% { transform: translateY(-5px); } /* Move up slightly */
}

/* Apply the animation to the path */
#path2 {
    animation: floatingAnimation2 6s ease-in-out infinite; 
}

/* keyframes for the floating animation */
@keyframes floatingAnimation3 {
    0% { transform: translateY(-5px); } /* Move up slightly */
    50% { transform: translateY(5px); } /* Move down slightly */
    100% { transform: translateY(-5px); } /* Move up slightly */
}

/* animation to the MoonBody */
#MoonBody.floating {
    animation: floatingAnimation3 6s ease-in-out infinite; 
}
